.address-form-title {
    margin-bottom: 2rem;
}

.address-form-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.prev-btn {
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
} 

.next-btn {
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--secondary-color);
    color:white;
}


.address-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.address-form input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid grey;
    margin-bottom: 24px;
    font-size: 1rem;
}

@media screen and (max-width: 768px){
    .address-form input {
        margin-bottom: 32px;
        font-size: 1.2rem;
    }

    select {
        width: auto;
    }
}
