.review-items {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.review-items-container {
    margin-bottom: 2rem   ;
}

.review-items p {
    font-weight: 500;
}

.payment-hr {
    margin-top: 10px;
}

@media screen and (max-width: 768px){
    .review-items {
        width: 280px;
    }
}